/* OLD CSS */


/* HEX to RGB Website */


/* https://www.webfx.com/web-design/hex-to-rgb/ */


/* ----- Boilerplate Elements ----- */

html {
	color: #1d1d1d;
	font-size: 1em;
	line-height: 1.5;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}


/**-- Basic Setup --**/

.clearfix {
	zoom: 1
}

.clearfix:after {
	content: '.';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}


/* ------ Microsoft Edge CSS ------ */

@supports (-ms-ime-align:auto) {}


/* ------ @ Fontface ------ */

@font-face {
	font-family: "Open Sans";
	src: url("/fonts/OpenSans-Regular-webfont.woff2");
	font-weight: bold;
}


/**-- Reusable Components --**/

body {
	font-size: 16px;
	line-height: 1.375em;
	font-family: 'Open Sans', sans-serif;
}

section {}

.m100 {
	margin-top: 100px;
	margin-bottom: 100px;
}

.m100-0 {
	margin-top: 100px;
	margin-bottom: 0px;
}

.m100-60 {
	margin-top: 100px;
	margin-bottom: 60px;
}

.grey-bg {
	background-color: #fafafa;
}

.container {}

.row {
	margin: 0 auto;
	max-width: 1440px;
}

.row-wide {
	max-width: 100%;
}

.row-sm {
	max-width: 1400px;
	margin: 0 auto;
}

.row-full {
	width: 100%;
}

.wideImage img {
	max-height: 560px;
	object-fit: cover;
}


/* ----- Bootstrap Padding Fix ----- */

.padding-0 {
	padding-left: 0;
	padding-right: 0;
}

.padding-left-0 {
	padding-left: 0;
	padding-right: 15px;
}

.padding-right-0 {
	padding-left: 15px;
	padding-right: 0;
}

.padding-15 {
	padding-left: 15px;
	padding-right: 15px;
}


/* ----- END Bootstrap Padding Fix ----- */

span {}

img {
	width: 100%;
}

a:link,
a:visited {
	color: #0075A4;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

a:hover,
a:active {
	/* color: rgba(255,255,255,0.8); */
	color: #4C96B3;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

h1,
h2,
h4,
h5,
h6,
a,
li,
input,
textarea,
label,
button {
	font-family: 'Nunito Sans', sans-serif;
}

p {
	font-family: 'Nunito Sans', sans-serif;
	/* font-family: 'Lato', sans-serif ; */
	/* font-size: 16px; */
	/* font-size: 1em; */
	font-weight: 400;
	font-size: 17px;
	line-height: 180%;
	/* or 29px */
	letter-spacing: 0.03em;
	color: #333;
}

span {
	color: #2A73B8;
}
span.green {
	color: #17A132;
}

h1 {
	color: #fff;
	font-size: 54px;
	/* font-size: 3em; */
	line-height: 1.05em;
	letter-spacing: 0.02em;
}

h2 {
	font-size: 44px;
	/* font-size: 3em; */
	line-height: 130%;
	letter-spacing: 0.02em;
	/* font-family: 'Roboto', sans-serif; */
	font-weight: 800;
}

h3 {
	font-size: 36px;
	/* font-size: 2.25em; */
	line-height: 160%;
	letter-spacing: 0.02em;
}

h4 {
	font-size: 28px;
	/* font-size: 1.75em; */
	line-height: 160%;
	letter-spacing: 0.02em;
	font-weight: 800;
}

h5 {
	font-size: 24px;
	/* font-size: 1.75em; */
	line-height: 160%;
	letter-spacing: .04em;
	font-weight: 800;
}

h6 {
	font-size: 18px;
	/* font-size: 1.125em; */
	line-height: 1.22222222em;
	letter-spacing: .5px;
}

ul {}

li {
	list-style: none;
}

i {}


/* ------ HERO ------ */

.homepage-hero h1 {
	text-transform: none !important;
	text-align: left;
	color: #FFFFFF;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.30);
	margin: 0 auto;
	max-width: 833px;
	font-style: normal !important;
	font-weight: 800 !important;
	font-size: 68px !important;
	line-height: 123.5% !important;
	margin-left: 40%;
	letter-spacing: 0.04em !important;
}

.homepage-hero h3 {
	text-transform: none;
	text-align: left;
	letter-spacing: 0.02em;
	color: #FFFFFF;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.30);
	margin-top: 100px;
	max-width: 833px;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 800;
	font-size: 56px;
	line-height: 123.5%;
	letter-spacing: 0.04em;
	color: #FFFFFF;
}

.hero h3 {
	text-transform: none;
	text-align: left;
	letter-spacing: 0.02em;
	color: #FFFFFF;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.30);
	margin-top: 100px;
	max-width: 833px;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 800;
	font-size: 56px;
	line-height: 123.5%;
	letter-spacing: 0.04em;
	color: #FFFFFF;
}

.homepage-hero p {
	text-transform: none;
	text-align: left;
	letter-spacing: 0.04em;
	color: #FFFFFF;
	font-style: normal;
	line-height: 180%;
	margin-top: 40px;
	font-size: 18px;
	color: #FFFFFF;
	font-weight: 300;
	border-left: 1px solid #C4C4C470;
	padding-left: 104px;
	max-width: 640px;
}

.hero p {
	text-transform: none;
	text-align: left;
	letter-spacing: 0.04em;
	color: #FFFFFF;
	font-style: normal;
	line-height: 180%;
	margin-top: 40px;
	font-size: 18px;
	color: #FFFFFF;
	font-weight: 300;
	/* border-left: 1px solid #C4C4C470; */
	padding-left: 104px;
	max-width: 780px;
}

.pb-100 {
	padding-bottom: 100px;
}

.r66-white-bg {
	background: #fff;
	padding: 90px 160px;
	margin-top: -100px;
	margin-bottom: 30px;
}
.r66-white-bg-alt {
	background: #fff;
	padding: 64px 80px;;
	margin-top: -100px;
	margin-bottom: 30px;
}

.r66-white-bg p {
	max-width: 930px;
	margin: 0 auto;
	font-size: 18px;
}
.insights .three-col h4 {
	font-size: 16px !important;
	margin-bottom: 20px;
	font-weight: 700;
	color: #1d1d1d;
}
.insights .three-col a {
	font-size: 16px !important;
	margin-bottom: 20px;
	font-weight: 700;

}
.insights .three-col {
padding: 46px;
}

.three-col {
	margin-bottom: 30px;
}

.hp-hero-large {
	text-align: left;
	left: 0;
	bottom: 0;
	padding-top: 32px;
	top: 0;
}

.homepage-hero img {
	text-align: left;
	max-width: 1140px;
	left: 0;
	top: 0;
}

.homepage-hero i {
	bottom: 48px;
	font-size: 48px;
	color: #fff;
}

.hero i {
	bottom: 48px;
	font-size: 48px;
	color: #fff;
}

.hero-intro-text {
	text-transform: uppercase;
	font-weight: 600;
}

p.hero-text {
	border-left: 0;
	padding-left: 0
}

.intro .welcome {}

.intro img {
	position: absolute;
	z-index: 9;
	max-width: 400px;
}

.three-col {
	padding: 70px 46px;
	background-color: #fff;
}

.three-col i,
.three-col h4 {
	color: #2478B5;
}

.three-col p i {
	font-size: 16px;
	margin-bottom: 0;
	margin-left: 8px;
}


/* .three-col:hover i, .three-col:hover h4, .three-col:hover p  {
color: #fff;

} */

.three-col h4 {
	font-size: 22px;
}

.col-left-img .three-col:hover {
	background-image: linear-gradient(to bottom, rgba(29, 29, 29, 0.1), rgba(29, 29, 29, 0.1)), url(../img/gr66-hp.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: #fff;
	object-fit: cover;
	overflow: hidden;
}

.col-center-img .three-col:hover {
	background-image: linear-gradient(to bottom, rgba(29, 29, 29, 0.1), rgba(29, 29, 29, 0.1)), url(../img/gr66-hp.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: #fff;
	object-fit: cover;
	overflow: hidden;
}

.col-right-img .three-col:hover {
	background-image: linear-gradient(to bottom, rgba(29, 29, 29, 0.1), rgba(29, 29, 29, 0.1)), url(../img/gr66-hp.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: #fff;
	object-fit: cover;
	overflow: hidden;
}

.three-col i {
	font-size: 64px;
	margin-bottom: 48px;
}


/* ------ Buttons ------ */

button.primary {
	margin-top: 48px;
	font-size: 14px;
	font-weight: 700;
	display: inline-block;
	padding: 24px 64px;
	color: #fff;
	border: 2px solid #65A7BD;
	background-color: #65A7BD;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	line-height: 0;
	letter-spacing: 0.02em;
}

button.primary:hover {
	border: 2px solid #006B8D;
	background-color: #006B8D;
	color: #fff;
}


/* ------ End Buttons ------ */

.secondary-intro {
	max-width: 1028px;
	margin: 0 auto;
}

.secondary-intro h5 {
	font-size: 18px;
	line-height: 170%;
	margin-bottom: 16px;
}

.secondary-intro h4 {
	font-size: 36px;
	margin-bottom: 28px
}


/* ------ Image Backgrounds ------ */

.hero-box {
	position: relative;
}

.homepage-hero {
	height: 200vh;
	width: 100%;
	background-image: linear-gradient(to bottom, rgba(29, 29, 29, 0.1), rgba(29, 29, 29, 0.1)), url(../img/gr66-hp.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: #fff;
	object-fit: cover;
	background-attachment: fixed;
	padding: 13% 0 0 0;
	overflow: hidden;
	min-height: 1780px;
}

.intro-right {
	height: 100%;
	width: 100%;
	background-image: linear-gradient(to bottom, rgba(29, 29, 29, 0.4), rgba(29, 29, 29, 0.3)), url(../img/road.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: #fff;
	object-fit: cover;
	/* background-attachment: fixed; */
	padding: 48px;
	overflow: hidden;
	min-height: 480px;
	color: #fff;
	position: relative;
}
.half-color-bg .container-fluid{
	max-height: 480px;
}
.intro-right-alt {

    width: 100%;
    background-color: #2478B5;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    object-fit: cover;
    /* background-attachment: fixed; */
    padding: 160px 80px 80px 80px;
    overflow: hidden;
    /* min-height: 480px; */
    color: #fff;
    position: absolute;
    right: 0;
}

.intro-right p {
	position: absolute;
	bottom: 48px;
	color: #fff;
	max-width: 80%;
}
.intro-right-alt p {

	margin-bottom: 100px;
	color: #fff;
	max-width: 80%;
}
.intro-right-alt i {

font-size: 36px;
}

.intro-left {
	height: 100%;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 90%;
	background-color: #fafafa;
	object-fit: cover;
	/* background-attachment: fixed; */
	padding: 48px 80px 48px 48px;
	overflow: hidden;
	min-height: 480px;
	color: #1d1d1d position: relative;
	max-height: 480px;
}

.intro-left-alt {

	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 90%;
	background-color: #fafafa;
	object-fit: cover;
	/* background-attachment: fixed; */
	padding: 80px 80px 80px 0;
	overflow: hidden;



}
.intro-left-alt p{
color: #1d1d1d !important;
}
.intro-left-alt h2{
margin-bottom: 28px;
}

.intro-left i {
	text-align: center;
	font-size: 600px;
	opacity: .3;
	color: #2A73B8;
}

.intro-left h2 span, .intro-left-alt h2 span {
	content: "";
	flex: 1 1 auto;
	border-top: 2px solid #ddd;
	margin-left: 48px;
	margin-top: 48px;
}

.intro-left h2 {
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	margin-left: 10%;
}

.hero-right-text a {
	color: #fff;
	font-weight: 700;
}

.hero-right-text i {
	font-size: 16px;
	margin-left: 8px;
}


/* ------ Bottom Banners ------ */

.bottom-banner {
	width: 100%;
	background-color: #2478B5;
	padding: 100px 0;
	overflow: hidden;
}

.bottom-banner p {
	max-width: 620px;
	color: #fff;
	text-transform: none;
	margin-bottom: 28px;
}

.bottom-banner i {
	font-size: 32px;
	color: #fff;
}

.bottom-banner a h6:first-child {
	padding-right: 80px;
}

.bottom-banner a h6 {
	font-size: 16px;
	display: inline-block;
}

.bottom-banner h4 {
	text-transform: none;
	color: #fff;
	margin-bottom: 28px;
}

.bottom-banner hr {
	margin-top: 8px;
}

.bottom-banner h6 {
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	margin-top: 24px;
}

.bottom-banner h6 i {
	margin-left: 8px;
}


/* Consulting */

.intro {
	width: 100%;
	background-color: #fff;
	padding: 240px 0 200px 0;
	overflow: hidden;
}

.intro h2 {
	line-height: 130%;
	color: #1d1d1d;
	text-transform: none;
}

.intro i {
	font-size: 32px;
	color: #1d1d1d;
}

.intro a h6:first-child {
	padding-right: 80px;
}

.intro a h6 {
	font-size: 16px;
	display: inline-block;
}

.intro h4 {
	text-transform: none;
	color: #1d1d1d;
	margin-bottom: 28px;
}

.intro hr {
	margin-top: 8px;
}

.intro h6 {
	color: #1d1d1d;
	font-size: 16px;
	font-weight: 700;
	margin-top: 12px;
}

.intro h6 i {
	margin-left: 8px;
}

.color-banner {

	width: 100%;
background-color: #2478B5;
padding: 100px 0;
overflow: hidden;
}
.color-banner h2{

color: #fff;
max-width: 80%;
margin-bottom: 64px;
}
.color-banner p{

color: #fff;
max-width: 80%;
}
.color-banner-cta {

	width: 100%;
background-color: #5093C4;
padding: 48px 0;
overflow: hidden;
}
.color-banner-cta i{

margin-left: 8px;
}
.color-banner-cta a{
font-weight: 500;
color: #fff;
font-size: 18px;
}

.info-sections {
	margin: 120px 0 80px 0;
}

.info-sections h4{
margin-bottom: 12px;
color: #1d1d1d;
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
}
.info-sections .info-block-wide p{
max-width: 80%;
}
.info-sections .info-block p{
max-width: 90%;
}

.info-block-wide img, .info-block img {
	margin: 20px 0 60px 0;
	width: 100%;
	background: #000;
}

.info-sections .info-block-wide i, .info-sections .info-block i{
display: none;
}
.info-sections .info-block-wide:hover i, .info-sections .info-block:hover i{
display: inline;
color: #2478B5;
margin-left: 12px;
font-size: 22px;

}
.info-sections .info-block-wide:hover h4, .info-sections .info-block:hover h4{

color: #2478B5;
}
.info-sections .info-block-wide:hover img, .info-sections .info-block:hover img{

opacity: .9;
}




.blog-banner {
	width: 100%;
	background-color: #fafafa;
	padding: 100px 0;
	overflow: hidden;
}

.blog-banner p {
	max-width: 620px;
	color: #1d1d1d;
	text-transform: none;
	margin-bottom: 28px;
}

.blog-banner i {
	font-size: 32px;
	color: #1d1d1d;
}


.blog-banner a h6:first-child {
	padding-right: 80px;
}

.blog-banner a h6 {
	font-size: 16px;
	display: inline-block;
}

.blog-banner h4 {
	text-transform: none;
	color: #1d1d1d;
	margin-bottom: 28px;
}

.blog-banner hr {
	margin-top: 8px;
}

.blog-banner h6 {
	color: #1d1d1d;
	font-size: 14px;
	font-weight: 700;
	margin-top: 24px;
}

.blog-banner h6 i {
	font-size: 16px;
	color: #1d1d1d;
	margin-left: 8px;
}

/* ------ Ideal X ------ */

.idealx-hero h1 {
	text-transform: none !important;
	text-align: left;
	color: #1d1d1d;
	margin: 0 auto;
	max-width: 860px;
	font-style: normal !important;
	font-weight: 800 !important;
	font-size: 56px !important;
	line-height: 123.5% !important;
	margin-left: 46%;
	letter-spacing: 0.04em !important;
}

.idealx .hero p,
.idealx .hero a,
.idealx .hero i {
	color: #1d1d1d !important;
	max-width: 760px;
}

.idealx-hero {
	height: 100vh;
	width: 100%;
	background-image: url(../img/idealx.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: #fff;
	object-fit: cover;
	/* background-attachment: fixed; */
	padding: 15% 0 0 0;
	overflow: hidden;
}

.idealx-hero-alt {
	height: 800px;
	width: 100%;
	background-image: linear-gradient(to bottom, rgba(29, 29, 29, 0.1), rgba(29, 29, 29, 0.1)), url(../img/idealx-alt.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: #fff;
	object-fit: cover;
	background-attachment: fixed;
	padding: 40px;
	0 0 0;
	overflow: hidden;
}

.hero .idealx-hero-alt p,
.hero .idealx-hero-alt i {
	color: #fff !important;
}

.idealx .three-col p i {
	font-size: 14px;
}

.idealx .three-col h4 {
	color: #17A132;
}

.idealx .three-col a {
	font-size: 14px;
	font-weight: 600;
	color: #1d1d1d;
}

.idealx .bottom-banner {
	width: 100%;
	background-color: #0E7925;
	padding: 140px 0;
	overflow: hidden;
}

.idealx .three-col i {
	color: #1d1d1d;
}



.half-color-bg{
  background-image:
    linear-gradient(
      to right,
      #fafafa 80%,
      #2478B5 20%

    );
}
.half-color-bg p{
color: #fff;
}


.insights-bg  {
	height: 400px;
	width: 100%;
	background-image: url(../img/idealx-alt.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: #fff;
	object-fit: cover;
	/* background-attachment: fixed; */
	padding: 15% 0 0 0;
	overflow: hidden;
}
/* ------ Image Backgrounds Text Overlay ------ */


/* ----- Center Box Section ----- */


/* ----- Overlay Image Boxes ----- */


/* ----- Contact Us ----- */


/* ------ Footer ------ */

footer {
	padding-top: 100px;
	padding-bottom: 128px;
	bottom: 0;
	/* color: #fff;
  width: 100%;
    background-image: linear-gradient(to right, rgba(48,48,48,1), rgba(48,48,48,.90)), url(../img/13.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 40%;
  background-color: #fff ; */
}

.footer ul {
	padding-left: 0;
	margin-left: 0;
}

.footer img {
	max-width: 320px;
}

.footer li {
	color: #fff;
}

.footer ul li a {
	color: #fff;
	font-size: 15px;
	padding-top: 8px;
	font-weight: 500;
}

.footer h5 {
	display: flex;
	align-items: center;
	text-transform: uppercase;
	font-weight: 800;
	color: #fff;
	font-size: 16px;
	letter-spacing: .15em;
}

.footer h5 span {
	content: "";
	flex: 1 1 auto;
	border-top: 1px solid #fff;
	margin-left: 16px;
}

.footer .social-icons {
	margin-top: 28px;
}

.footer a:hover {
	cursor: pointer;
	/* color: #00a7e1 ; */
	opacity: .5;
	color: #fff;
}

.footer li:hover {
	color: #00a7e1;
}

.footer li {
	padding: 8px 0;
}

.copyright p {
	font-size: 14px;
	margin-top: 52px;
	color: #fff;
	opacity: .5;
	font-weight: 100;
}

.social i {
	color: #fff;
	font-size: 24px;
}

.footer {
	background-color: #1d1d1d;
}


/* ------ Return To Top ------- */

#return-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background: rgba(255, 255, 255, .9);
	width: 50px;
	height: 50px;
	text-decoration: none;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 1px;
	display: none;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	z-index: 999999;
}

#return-to-top i {
	color: #000;
	margin: 0;
	position: relative;
	left: 16px;
	top: 14px;
	font-size: 21px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#return-to-top:hover {
	/* background: rgba(77, 77, 77, .96); */
	background: rgba(0, 0, 0, .96);
}

#return-to-top:hover i {
	color: #fff;
	top: 8px;
}


/* ------ Media Quieries ------ */


/* Extra large devices (large desktops, 1200px and up) */

@media (max-width: 1200px) {}


/* Large devices (desktops, 992px and up) */

@media (max-width: 992px) {}


/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */

@media (max-width: 768px) {
	.homepage-hero,
	.hero,
	.bottom-banner {
		padding: 100px 0;
	}
}


/* Small devices (landscape phones, 576px and up) */

@media (max-width: 576px) {}
