/* OLD CSS */


/* HEX to RGB Website */


/* https://www.webfx.com/web-design/hex-to-rgb/ */


/* ----- Boilerplate Elements ----- */

html {
	color: #1d1d1d;
	font-size: 1em;
	line-height: 1.5;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}


/**-- Basic Setup --**/

.clearfix {
	zoom: 1
}

.clearfix:after {
	content: '.';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}


/* ------ Microsoft Edge CSS ------ */

@supports (-ms-ime-align:auto) {}


/* ------ @ Fontface ------ */

@font-face {
	font-family: "Open Sans";
	src: url("/fonts/OpenSans-Regular-webfont.woff2");
	font-weight: bold;
}


/**-- Reusable Components --**/

body {
	font-size: 16px;
	line-height: 1.375em;
  	font-family: 'Open Sans', sans-serif;

}

section {}

.m100 {
	margin-top: 100px;
	margin-bottom: 100px;
}

.m100-0 {
	margin-top: 100px;
	margin-bottom: 0px;
}

.m100-60 {
	margin-top: 100px;
	margin-bottom: 60px;
}

.grey-bg {
	background-color: #fafafa;
}

.container {}

.row {
	margin: 0 auto;
	max-width: 1440px;
}

.row-wide {
	max-width: 100%;
}

.row-sm {
	max-width: 1400px;
	margin: 0 auto;
}

.row-full {
	width: 100%;
}

.wideImage img {
	max-height: 560px;
	object-fit: cover;
}


/* ----- Bootstrap Padding Fix ----- */

.padding-0 {
	padding-left: 0 ;
	padding-right: 0 ;
}

.padding-left-0 {
	padding-left: 0 ;
	padding-right: 15px ;
}

.padding-right-0 {
	padding-left: 15px ;
	padding-right: 0 ;
}

.padding-15 {
	padding-left: 15px ;
	padding-right: 15px ;
}


/* ----- END Bootstrap Padding Fix ----- */

span {}

img {
	width: 100%;
}

a:link,
a:visited {
	color: #0075A4;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

a:hover,
a:active {
	/* color: rgba(255,255,255,0.8); */
	color: #4C96B3;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

h1,
h2,
h4,
h5,
h6,
a,
li,
input,
textarea,
label,
button {
font-family: 'Nunito Sans', sans-serif;
}

p {
font-family: 'Nunito Sans', sans-serif;
	/* font-family: 'Lato', sans-serif ; */
	/* font-size: 16px; */
	/* font-size: 1em; */
	font-weight: 400;
	font-size: 17px ;
	line-height: 180%;
	/* or 29px */
	letter-spacing: 0.03em;
	color: #333;
}

span {
	color: #2A73B8;
}



h1 {
	color: #fff;
	font-size: 54px;
	/* font-size: 3em; */
	line-height: 1.05em;
	letter-spacing: 0.02em;
}

h2 {
	font-size: 44px;
	/* font-size: 3em; */
	line-height: 180%;
	letter-spacing: 0.02em;
	/* font-family: 'Roboto', sans-serif; */

	font-weight: 800;
}

h3 {
	font-size: 36px;
	/* font-size: 2.25em; */
	line-height: 160%;
	letter-spacing: 0.02em;

}

h4 {
	font-size: 28px;
	/* font-size: 1.75em; */
	line-height: 160%;
	letter-spacing: 0.02em;

	font-weight: 800 ;
}

h5 {
	font-size: 24px;
	/* font-size: 1.75em; */
	line-height: 160%;
	letter-spacing: .04em;
	font-weight: 800;
}

h6 {
	font-size: 18px;
	/* font-size: 1.125em; */
	line-height: 1.22222222em;
	letter-spacing: .5px;
}

ul {}

li {
	list-style: none;
}

i {}


/* ------ HERO ------ */

.homepage-hero h1 {
	text-transform: none !important;
	text-align: left ;
	color: #FFFFFF ;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.30) ;
	margin: 0 auto ;
	max-width: 833px ;
	font-style: normal !important;
	font-weight: 800 !important;
	font-size: 68px !important;
	line-height: 123.5% !important;
	margin-left: 40% ;
	letter-spacing: 0.04em !important;

}

.homepage-hero h3 {
	text-transform: none ;
	text-align: left;
	letter-spacing: 0.02em;
	color: #FFFFFF;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.30);
	margin-top: 100px;
	max-width: 833px;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 800;
	font-size: 56px;
	line-height: 123.5%;
	letter-spacing: 0.04em;
	color: #FFFFFF;
}
.hero h3 {
	text-transform: none ;
	text-align: left;
	letter-spacing: 0.02em;
	color: #FFFFFF;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.30);
	margin-top: 100px;
	max-width: 833px;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 800;
	font-size: 56px;
	line-height: 123.5%;
	letter-spacing: 0.04em;
	color: #FFFFFF;
}

.homepage-hero p {
	text-transform: none;
	    text-align: left;
	    letter-spacing: 0.04em;
	    color: #FFFFFF;
	    font-style: normal;
	    line-height: 180%;
	    margin-top: 40px;
	    font-size: 18px;
	    color: #FFFFFF;
	    font-weight: 300;
	    border-left: 1px solid #C4C4C470;
	    padding-left: 104px;
	    max-width: 640px;
}
.hero p {
	text-transform: none;
	    text-align: left;
	    letter-spacing: 0.04em;
	    color: #FFFFFF;
	    font-style: normal;
	    line-height: 180%;
	    margin-top: 40px;
	    font-size: 18px;
	    color: #FFFFFF;
	    font-weight: 300;
	    /* border-left: 1px solid #C4C4C470; */
	    padding-left: 104px;
	    max-width: 780px;
}

.pb-100 {
	padding-bottom: 100px;
}

.r66-white-bg {
	background: #fff;
	padding: 90px 160px;
	margin-top: -100px;
	margin-bottom: 30px;
}

.r66-white-bg p {
	max-width: 850px;
	margin: 0 auto;
}

.three-col {
	margin-bottom: 30px;
}

.hp-hero-large {
	text-align: left;
	left: 0;
	bottom: 0;
	padding-top: 32px;
	top: 0;
}

.homepage-hero img {
	text-align: left;
	max-width: 1140px;
	left: 0;
	top: 0;
}

.homepage-hero i {
	bottom: 48px;
	font-size: 48px;
	color: #fff;
}
.hero i {
	bottom: 48px;
	font-size: 48px;
	color: #fff;
}
.hero-intro-text {
	text-transform: uppercase;
	font-weight: 600;
}

p.hero-text {
	border-left: 0;
	padding-left: 0
}

.intro .welcome {}

.intro img {
	position: absolute;
	z-index: 9;
	max-width: 400px;
}



.three-col {
	padding: 70px 46px;
	background-color: #fff;

}
.three-col i, .three-col h4  {
color: #2478B5;
}
.three-col:hover i, .three-col:hover h4, .three-col:hover p  {
color: #fff;

}
.three-col h4 {
font-size: 22px;
}

.col-left-img .three-col:hover {
	background-image: linear-gradient(to bottom, rgba(29, 29, 29, 0.1), rgba(29, 29, 29, 0.1)), url(../img/gr66-hp.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: #fff ;
	object-fit: cover;
	overflow: hidden;
}
.col-center-img .three-col:hover {
	background-image: linear-gradient(to bottom, rgba(29, 29, 29, 0.1), rgba(29, 29, 29, 0.1)), url(../img/gr66-hp.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: #fff ;
	object-fit: cover;
	overflow: hidden;
}
.col-right-img .three-col:hover {
	background-image: linear-gradient(to bottom, rgba(29, 29, 29, 0.1), rgba(29, 29, 29, 0.1)), url(../img/gr66-hp.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: #fff ;
	object-fit: cover;
	overflow: hidden;
}

.three-col i {
	font-size: 64px;
	margin-bottom: 48px;
}


/* ------ Buttons ------ */

button.primary {
	margin-top: 48px;
	font-size: 14px ;
	font-weight: 700 ;
	display: inline-block;
	padding: 24px 64px;
	color: #fff;
	border: 2px solid #65A7BD ;
	background-color: #65A7BD ;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	line-height: 0 ;
	letter-spacing: 0.02em;
}

button.primary:hover {
	border: 2px solid #006B8D ;
	background-color: #006B8D ;
	color: #fff ;
}

/* ------ End Buttons ------ */

.secondary-intro {
	max-width: 1028px;
	margin: 0 auto;
}

.secondary-intro h5 {
	font-size: 18px;
	line-height: 170%;
	margin-bottom: 16px;
}

.secondary-intro h4 {
	font-size: 36px ;
	margin-bottom: 28px
}


/* ------ Image Backgrounds ------ */

.hero-box {
	position: relative;
}

.homepage-hero {
	height: 200vh;
	width: 100%;
	background-image: linear-gradient(to bottom, rgba(29, 29, 29, 0.1), rgba(29, 29, 29, 0.1)), url(../img/gr66-hp.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: #fff ;
	object-fit: cover;
	background-attachment: fixed;
	padding: 13% 0 0 0;
	overflow: hidden;
	min-height: 1780px;
}

.hero-right-text a {
	color: #fff;
	font-weight: 700;
}
.hero-right-text i {
	font-size: 16px;
	margin-left: 8px;
}
/* ------ Bottom Banners ------ */

.bottom-banner {
	width: 100%;
	background-color: #2478B5;
	padding: 140px 0;
	overflow: hidden;
}
.bottom-banner p {
	max-width: 620px;
	color: #fff;
	text-transform: none;
	margin-bottom: 28px;

}

.bottom-banner i {
	font-size: 32px;
	color: #fff;
}
.bottom-banner a h6:first-child {
padding-right: 80px;
}
.bottom-banner a h6 {
font-size: 16px;
display: inline-block;
}

.bottom-banner h4 {
	text-transform: none;
	color: #fff;
	margin-bottom: 28px;
}

.bottom-banner hr {
	margin-top: 8px;
}

.bottom-banner h6 {
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	margin-top: 24px;
}

.bottom-banner h6 i {
	margin-left: 8px;
}


/* ------ Ideal X ------ */


.idealx-hero h1 {
	text-transform: none !important;
	text-align: left ;
	color: #1d1d1d ;

	margin: 0 auto ;
	max-width: 860px ;
	font-style: normal !important;
	font-weight: 800 !important;
	font-size: 56px !important;
	line-height: 123.5% !important;
	margin-left: 46% ;
	letter-spacing: 0.04em !important;

}
.hero p, .hero a , .hero i{
	color: #1d1d1d !important;
}
.idealx-hero {
	height: 880px;
	width: 100%;
	background-image: url(../img/idealx.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: #fff ;
	object-fit: cover;
	background-attachment: fixed;
	padding: 13% 0 0 0;
	overflow: hidden;

}
.idealx-hero-alt {
	height: 800px;
	width: 100%;
	background-image: linear-gradient(to bottom, rgba(29, 29, 29, 0.1), rgba(29, 29, 29, 0.1)), url(../img/idealx-alt.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: #fff ;
	object-fit: cover;
	background-attachment: fixed;
	padding: 40px; 0 0 0;
	overflow: hidden;

}
.hero .idealx-hero-alt p, .hero .idealx-hero-alt i {
	color: #fff !important;
}
/* ------ Image Backgrounds Text Overlay ------ */




/* ----- Center Box Section ----- */




/* ----- Overlay Image Boxes ----- */




/* ----- Contact Us ----- */



/* ------ Footer ------ */

footer {
	padding-top: 100px;
	padding-bottom: 128px;
	bottom: 0;
	/* color: #fff;
  width: 100%;
    background-image: linear-gradient(to right, rgba(48,48,48,1), rgba(48,48,48,.90)), url(../img/13.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 40%;
  background-color: #fff ; */
}
.footer ul {
	padding-left: 0 ;
	margin-left: 0;
}
.footer img {
	max-width: 320px;
}

.footer li {
	color: #fff;
}

.footer ul li a {
	color: #fff ;
	font-size: 15px;
	padding-top: 8px;
	font-weight: 500;
}

.footer h5 {
	display: flex;
	align-items: center;
	text-transform: uppercase;
	font-weight: 800;
	color: #fff;
	font-size: 16px;
	letter-spacing: .15em;

}

.footer h5 span {
	content: "";
	flex: 1 1 auto;
	border-top: 1px solid #fff;
	margin-left: 16px;
}
.footer .social-icons {
margin-top: 28px;
}


.footer a:hover {
	cursor: pointer;
	/* color: #00a7e1 ; */
	opacity: .5 ;
	color: #fff ;
}


.footer li:hover {
	color: #00a7e1;
}

.footer li {
	padding: 8px 0;
}


.copyright p {
	font-size: 14px;
	    margin-top: 52px;
	    color: #fff;
	    opacity: .5;
	    font-weight: 100;
}

.social i{
	color: #fff;
	font-size: 24px;
}

.footer {
	background-color: #1d1d1d;
}


/* ------ Return To Top ------- */

#return-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background: rgba(0, 74, 151, .9);
	width: 50px;
	height: 50px;

	text-decoration: none;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 2px;
	display: none;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	z-index: 999999;
}

#return-to-top i {
	color: #fff;
	margin: 0;
	position: relative;
	left: 16px;
	top: 13px;
	font-size: 19px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#return-to-top:hover {
	/* background: rgba(77, 77, 77, .96); */
	background: rgba(0, 167, 225, .96);
}

#return-to-top:hover i {
	color: #fff ;
	top: 5px;
}


/* ------ Media Quieries ------ */


/* Extra large devices (large desktops, 1200px and up) */

@media (max-width: 1200px) {}


/* Large devices (desktops, 992px and up) */

@media (max-width: 992px) {}


/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */

@media (max-width: 768px) {
	.homepage-hero, .hero,
	.bottom-banner {
		padding: 100px 0;
	}
}


/* Small devices (landscape phones, 576px and up) */

@media (max-width: 576px) {}
