/* OLD CSS */


/* HEX to RGB Website */


/* https://www.webfx.com/web-design/hex-to-rgb/ */


/* ----- Boilerplate Elements ----- */

html {
	color: #1d1d1d;
	font-size: 1em;
	line-height: 1.5;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

 .fixedPosition
 {
    position: fixed !important;
 }
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}


/**-- Basic Setup --**/

.clearfix {
	zoom: 1
}

.clearfix:after {
	content: '.';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}


/* ------ Microsoft Edge CSS ------ */

@supports (-ms-ime-align:auto) {}


/* ------ @ Fontface ------ */

@font-face {
	font-family: "Open Sans";
	src: url("/fonts/OpenSans-Regular-webfont.woff2");
	font-weight: bold;
}





/**-- Reusable Components --**/

body {
	font-size: 16px;
	line-height: 1.375em;
	font-family: 'Open Sans', sans-serif;
}

.m100 {
	margin-top: 100px;
	margin-bottom: 100px;
}

.m100-0 {
	margin-top: 100px;
	margin-bottom: 0px;
}

.m100-60 {
	margin-top: 100px;
	margin-bottom: 60px;
}

.pb-100 {
	padding-bottom: 100px;
}

.grey-bg {
	background-color: #f5f5f5;
}

.white-bg {
	background-color: #fff;
}

.row {
	margin: 0 auto;
	max-width: 1440px;
	padding-left: 15px;
	padding-right: 15px;
}

.row-wide {
	max-width: 100%;
}


/* ----- Bootstrap Padding Fix ----- */

.padding-0 {
	padding-left: 0;
	padding-right: 0;
}

.padding-left-0 {
	padding-left: 0;
	padding-right: 15px;
}

.padding-right-0 {
	padding-left: 15px;
	padding-right: 0;
}

.padding-15 {
	padding-left: 15px;
	padding-right: 15px;
}


/* ----- Reusable Components ----- */

img {
	width: 100%;
}

a:link,
a:visited {
	color: #0075A4;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

a:hover,
a:active,
a:hover i,
a:active i {
	color: #4C96B3;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

h1,
h2,
h4,
h5,
h6,
a,
li,
input,
textarea,
label,
button {
	font-family: 'Nunito Sans', sans-serif;
}
.md-form input[type=text]  {
	border-width: 2px;
padding-top: 12px;
}
.md-form textarea.md-textarea {
	border-width: 2px;
	padding-top: 12px;
}
p {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 180%;
	letter-spacing: 0.05em;
	color: #666;
}

span {
	color: #2A73B8;
}

span.green {
	color: #2A73B8;
}

h1 {
	color: #fff;
	font-size: 54px;
	/* font-size: 3em; */
	line-height: 1.05em;
	letter-spacing: 0.02em;
}

h2 {
	font-size: 44px;
	line-height: 130%;
	letter-spacing: 0.02em;
	font-weight: 800;
}

h3 {
	font-size: 36px;
	line-height: 160%;
	letter-spacing: 0.02em;
}

h4 {
	font-size: 28px;
	line-height: 160%;
	letter-spacing: 0.02em;
	font-weight: 800;
}

h5 {
	font-size: 24px;
	line-height: 160%;
	letter-spacing: .04em;
	font-weight: 800;
}

h6 {
	font-size: 18px;
	line-height: 160%;
	letter-spacing: .5px;
}

li {
	list-style: none;
}

.dn {
	display: block;
}
.arrow, .arrow-two, .arrow-one {
	display: none;
}
.arrow i, .arrow, .arrow-two i, .arrow-one i{
	font-size: 28px;
	   color: #2A73B8;
}
/* Zoom  */

.img-hover-zoom {
	height: 260px;
	    overflow: hidden;
	    margin-bottom: 45px;
position: relative;
	    margin-top: 30px;
			background-color: #1d1d1d;
				transition: transform .8s ease;
				border-radius: 4px;


}
.img-hover-zoom p{
	position: absolute;
	z-index: 9;
left: 45px;
padding-right: 45px;
	bottom: -320px;
	color: #fff !important;
	z-index: 9;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.img-hover-zoom a , .img-hover-zoom i{

	color: #fff !important;

}
.img-hover-zoom i{
font-size: 15px !important;
	font-weight: normal;

}



.info-block-wide:hover img, .info-block:hover img{
	opacity: .3 !important;
		-webkit-transition: all 0.8s ease;
		-moz-transition: all 0.8s ease;
		-ms-transition: all 0.8s ease;
		-o-transition: all 0.8s ease;
		transition: all 0.8s ease;
		object-fit: cover;
		height: 100%;

}
.info-block-wide img, .info-block img{
	opacity: 1 !important;
	-webkit-transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	-ms-transition: all 0.8s ease;
	-o-transition: all 0.8s ease;
	transition: all 0.8s ease;
	   object-fit: cover;
		 height: 100%

}
.img-hover-zoom img {
	-webkit-transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	-ms-transition: all 0.8s ease;
	-o-transition: all 0.8s ease;
	transition: all 0.8s ease;
background-color: #000;
  transform: scale(1.1);
	    object-fit: cover;
			min-height: 300px;

}
/* .img-hover-zoom .hr {
    position: absolute;
    z-index: 10;
    left: 45px;
    padding-right: 45px;
    top: -320px;
    color: #fff !important;
    z-index: 9;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.img-hover-zoom:hover .hr {
    position: absolute;
    z-index: 10;
    left: 45px;
    padding-right: 45px;
    top: 40px;
    color: #fff !important;
    z-index: 9;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.img-hover-zoom:hover .hr i{
  font-size: 28px !important;
	margin-left: 0 !important
} */

.img-hover-zoom:hover img, .info-block:hover img , .info-block-wide:hover img{

  transform: scale(1);
		transition: transform .8s ease;

}

.img-hover-zoom:hover p, .info-block:hover p , .info-block-wide:hover p{
  	bottom: 20px;

}

/* ------ Buttons ------ */

a.btn-primary {
	font-size: 16px;
	font-weight: 700;
	display: inline-block;
	padding: 24px 54px;
	color: #fff;
	border: 2px solid #ffffff;
	border-radius: 1px;
	background-color: transparent !important;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	line-height: 0;
	letter-spacing: 0.02em;
}

a.btn-primary:hover {
	border: 2px solid #5093C4 !important;
	background-color: #5093C4 !important;
	color: #fff;
}

a.btn-secondary.alt {
	font-size: 16px;
	font-weight: 700;
	display: inline-block;
	padding: 24px 54px;
	color: #fff;
	border: 2px solid #ffffff;
	border-radius: 1px;
	background-color: transparent !important;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	line-height: 0;
	letter-spacing: 0.02em;
}

a.btn-secondary.alt:hover {
	border: 2px solid #2A73B8 !important;
	background-color: #2A73B8 !important;
	color: #fff;
}


/* ------ HERO ------ */

.parallax {
	height: 100%;
	width: 100%;
	background-image: linear-gradient(to bottom, rgba(29, 29, 29, 0.1), rgba(29, 29, 29, 0.1));
	background-size: cover;
	background-position: 50% 50%;
	background-color: #1d1d1d;
	padding: 10% 0 14% 0;
	min-height: 10px;
	position: relative;
  z-index: 0 !important;
}


.homepage-hero h1 {
	text-transform: none !important;
	text-align: left;
	color: #FFFFFF;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.30);
	margin: 0 auto;
	max-width: 833px;
	font-style: normal !important;
	font-weight: 800 !important;
	font-size: 68px !important;
	line-height: 123.5% !important;
	margin-right: 18%;
	letter-spacing: 0.04em !important;
}

.homepage-hero h3 {
	text-transform: none;
	text-align: left;
	letter-spacing: 0.02em;
	color: #FFFFFF;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.30);
	margin-top: 100px;
	max-width: 833px;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 800;
	font-size: 56px;
	line-height: 123.5%;
	letter-spacing: 0.04em;
	color: #FFFFFF;
}

.hero h3 {
	text-transform: none;
	text-align: left;
	letter-spacing: 0.02em;
	color: #FFFFFF;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.30);
	margin-top: 100px;
	max-width: 833px;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 800;
	font-size: 52px;
	line-height: 123.5%;
	letter-spacing: 0.04em;
	color: #FFFFFF;
}

.homepage-hero p {
	text-transform: none;
	text-align: left;
	letter-spacing: 0.04em;
	color: #FFFFFF;
	font-style: normal;
	line-height: 180%;
	margin-top: 40px;
	font-size: 18px;
	color: #FFFFFF;
	font-weight: 300;
	border-left: 1px solid #C4C4C470;
	padding-left: 104px;
	max-width: 640px;
}

.hero p {
	text-transform: none;
	text-align: left;
	letter-spacing: 0.04em;
	color: #FFFFFF;
	font-style: normal;
	line-height: 180%;
	margin-top: 40px;
	font-size: 18px;
	color: #FFFFFF;
	font-weight: 300;
	max-width: 780px;
}

.hero-box p {
	padding-right: 30px;
	/* border-left: 1px solid #C4C4C470; */
	padding-left: 60px;
}

.hp-hero-large {
	text-align: left;
	left: 0;
	bottom: 0;
	padding-top: 32px;
	top: 0;
}

.homepage-hero img {
	text-align: left;
	left: 0;
	top: 0;
	margin-top: 20px;
}

.homepage-hero i {
	bottom: 48px;
	font-size: 48px;
	color: #fff;
}

.hero i {
	bottom: 48px;
	font-size: 48px;
	color: #fff;
}

.hero-intro-text {
	text-transform: uppercase;
	font-weight: 600;
}

.hero-box {
	position: relative;
}

p.hero-text {
	border-left: 0;
	padding-left: 0
}

.hero-secondary {
	padding-left: 15px;
}


/* ------ Info Boxes ------ */

.r66-white-bg {
	background: #fff;
	padding: 60px 60px;
	margin-top: -100px;
	margin-bottom: 30px;
	-webkit-box-shadow: 0px 23px 33px -18px rgba(0,0,0,0.06);
	-moz-box-shadow: 0px 23px 33px -18px rgba(0,0,0,0.06);
	box-shadow: 0px 23px 33px -18px rgba(0,0,0,0.06);
	border-radius: 4px !important;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;

}

.r66-white-bg-alt {
	background: #fff;
	padding: 64px 80px;
	margin-top: -100px;
	margin-bottom: 30px;
	border-radius: 4px;
	-webkit-box-shadow: 0px 23px 33px -18px rgba(0,0,0,0.06);
	-moz-box-shadow: 0px 23px 33px -18px rgba(0,0,0,0.06);
	box-shadow: 0px 23px 33px -18px rgba(0,0,0,0.06);
}

.r66-white-bg-alt h2 {
    margin-bottom: 20px;
    text-align: left;
}
.r66-white-bg h2 {
	 margin-bottom: 20px;
	 text-align: center;
	     font-size: 40px;
}
.r66-white-bg p {
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
    max-width: 980px;
}

.three-col {
	margin-bottom: 30px;
	-webkit-box-shadow: 0px 23px 33px -18px rgba(0,0,0,0.06);
	-moz-box-shadow: 0px 23px 33px -18px rgba(0,0,0,0.06);
	box-shadow: 0px 23px 33px -18px rgba(0,0,0,0.06);
	border-radius: 4px !important;
	transition: all 0.3s ease;
	position: relative;
	overflow: hidden;
	height: auto;
}

.three-col p:last-child {
	margin-top: 28px !important;
	font-weight: 800;
	color: #1d1d1d;
}
.three-col p:last-child a i{





    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
}


.three-col {
	padding: 60px 46px;
	background-color: #fff;
}


.three-col h4 {
	color: #2478B5;
}
.three-col i {
	color: #1d1d1d;
}
a:hover .three-col i {
	color: #1d1d1d;
}
a:hover .three-col p i {
	padding-left: 4px;
}

.three-col p i {
	font-size: 16px;
	margin-bottom: 0;
	margin-left: 8px;
}

.three-col h4 {
	font-size: 22px;
}

.three-col i {
	font-size: 64px;
	margin-bottom: 48px;
}


/* ------ Insights Three Columns ------ */

.insights .three-col h4 {
	font-size: 18px !important;
	margin-bottom: 20px;
	font-weight: 700;
   color: #2A73B8;
}
.insights .three-col p:last-child {
	font-size: 16px;
	margin-bottom: 20px;
	font-weight: 800;
	    color: #1d1d1d;

}
.insights a:hover .three-col i {

	color: #1d1d1d !important;

}
.insights .three-col p:last-child:hover , .insights .three-col p:hover i{
 color: #2A73B8 !important;

}

.insights .three-col a {

	margin-bottom: 20px;

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}


.insights .three-col a i{
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.insights .three-col {
    padding: 46px 46px 30px 46px;
}

.insights img {
    max-height: 240px !important;
		border-radius: 4px 4px 0 0 !important;



}

.insights-bg {
	height: 480px;
	width: 100%;
	background-image: url(../img/bridge-coast.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 10%;
	background-color: #fff;
	object-fit: cover;
	padding: 15% 0 0 0;
	overflow: hidden;
	background-attachment: fixed;
}
.insights-bg.alt {
	height: 500px;
	width: 100%;
	background-image: url(../img/coast-highway.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 40%;
	background-color: #fff;
	object-fit: cover;
	padding: 15% 0 0 0;
	overflow: hidden;
}


/* ------ Intro Sections ------ */

.intro {
	width: 100%;
	background-color: #fff;
	padding: 240px 0 200px 0;
	overflow: hidden;
}

.intro h2 {
	line-height: 130%;
	color: #1d1d1d;
	text-transform: none;
	padding-right: 20px;
}

.intro i {
	font-size: 32px;
	color: #1d1d1d;
}

.intro a h6:first-child {
	padding-right: 80px;
}

.intro a h6 {
	font-size: 16px;
	display: inline-block;
}

.intro h4 {
	text-transform: none;
	color: #1d1d1d;
	margin-bottom: 28px;
}

.intro hr {
	margin-top: 8px;
}

.intro h6 {
	color: #1d1d1d;
	font-size: 16px;
	font-weight: 700;
	margin-top: 12px;
}

.intro h6 i {
	margin-left: 8px;
}

.intro-right {
	/* height: 100%; */
	width: 100%;

	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: #000;
	object-fit: cover;
	/* background-attachment: fixed; */
	/* padding: 48px; */
	overflow: hidden;

	color: #fff;
	position: relative;
}
.intro-right-padding{
    padding: 0 48px;
}
.intro-right video{
object-fit: cover;
opacity: .5
}
video::-webkit-media-controls-start-playback-button {
  display: none !important;
}
.intro-right h2{
z-index: 9;
}
.intro-right h2 {

    top: 52px;
    position: absolute;
}
.intro-right-alt {
    border-radius: 0 0 0 4px;
    width: 100%;
    background-color: #125E8A ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    object-fit: cover;
    /* background-attachment: fixed; */
    padding: 95px 80px 60px 80px;
    /* min-height: 480px; */
    color: #fff;
    position: absolute;
    right: 0;
    z-index: 3;
}

.intro-right-alt.connect {
	padding: 100px 80px 120px 80px;
	border-radius: 0 0 0 4px;

}

.intro-right-alt.method {
	width: 100%;
background-color: #005C71;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	object-fit: cover;
	/* background-attachment: fixed; */
	padding: 100px 80px 40px 90px;
	overflow: hidden;
	/* min-height: 480px; */
	color: #fff;
	position: absolute;
	right: 0;
	border-radius: 0 0 0 4px;
}

.intro-right-alt.method i {
	margin-left: 8px;
	font-size: 48px;
	color: #fff;
	opacity: .3;
}

.intro-right-alt.method a {
	color: #fff;
}

.intro-right p {
	position: absolute;
	bottom: 48px;
	color: #fff;
	max-width: 565px;
	font-size: 18px;
	padding-right: 30px;
}

.intro-right-alt p {
	margin-bottom: 100px;
	color: #fff;
	max-width: 485px;
	font-size: 18px;

}
.gr66-insights .intro-right-alt p {
    margin-bottom: 48px;
    color: #fff;
    max-width: 485px;
    font-size: 20px;
    font-style: italic;
}
.ideal.intro-right-alt p {
    margin-bottom: 100px;
    color: #fff;
    max-width: 510px;
    font-size: 21px;
    font-style: italic;
}
.ideal.intro-right-alt a, .gr66-insights .intro-right-alt a{
color: #fff;
    font-style: normal;
		    font-weight: 700;
}

.intro-right-alt i {
    font-size: 42px;
    margin-bottom: 28px;
    position: relative;
    margin-left: 0;
    top: -18px;
    color: #95cbff;
    z-index: 999;
		opacity: .6;
}
.intro-right-alt h4 {
	font-size: 120px;
	    margin-bottom: 28px;
	    position: absolute;
	    top: -29px;
	    color: #95cbff;
	    z-index: 999;
			font-family: OpenSans;
	    font-weight: 500;
}
.intro-left {
	height: 100%;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 90%;
	background-color: #f5f5f5;
	object-fit: cover;
	/* background-attachment: fixed; */
	padding: 48px 80px 48px 48px;
	overflow: hidden;
	min-height: 480px;
	color: #1d1d1d position: relative;
	max-height: 480px;
}

.intro-left-alt {
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 90%;
	background-color: #f5f5f5;
	object-fit: cover;
	padding: 80px 80px 80px 0;
	overflow: hidden;
}

.intro-left-alt p {
	color: #1d1d1d !important;
}

.intro-left-alt h2 {
	margin-bottom: 28px;
}

.intro-left i {
	text-align: center;
	font-size: 600px;
	opacity: .3;
	color: #2A73B8;
}

.intro-left h2 span {
	content: "";
	flex: 1 1 auto;
	border-top: 2px solid #ddd;
	margin-left: 48px;
	margin-top: 40px;
}

.intro-left h2 {
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	margin-left: 10%;
}

.hero-right-text p {
	max-width: 625px;
}

.hero-right-text a {
	color: #fff;
	font-weight: 700;
}

.hero-right-text i {
	font-size: 16px;
	margin-left: 8px;
}

.intro img {
	position: absolute;
	z-index: 9;
	max-width: 400px;
}

.secondary-intro {
	max-width: 1028px;
	margin: 0 auto;
}

.secondary-intro h5 {
	font-size: 18px;
	line-height: 170%;
	margin-bottom: 16px;
}

.secondary-intro h4 {
	font-size: 36px;
	margin-bottom: 28px
}


/* ------ Intro Fixes ------ */

.half-color-bg .container-fluid {
	max-height: 480px;
}


/* ------ Bottom Banners ------ */

.bottom-banner {
	width: 100%;
background-color: #125E8A;
	padding: 160px 0 100px 0;
	overflow: hidden;
	position: relative;
z-index: 2;
}
.ideal-x-sub .bottom-banner {
	width: 100%;
	background-color: #0E7925;
	padding: 160px 0 100px 0;
	overflow: hidden;
	position: relative;
z-index: 2;
}

.bottom-banner p {
	max-width: 620px;
	color: #fff;
	text-transform: none;
	margin-bottom: 28px;
}

.bottom-banner i {
	font-size: 32px;
	color: #fff;
}

.bottom-banner a h6:first-child {
	padding-right: 80px;
}

.bottom-banner a:hover  h6 {
	color: #95cbff;
}
.bottom-banner a h6 {
	font-size: 16px;
	display: inline-block;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.bottom-banner h4 {
	text-transform: none;
	color: #fff;
	margin-bottom: 28px;
}

.bottom-banner hr {
	margin-top: 8px;
}

.bottom-banner h6 {
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	margin-top: 24px;
}

.bottom-banner h6 i {
	margin-left: 8px;
}


/* ------ Color Banner ------ */

.color-banner {
	width: 100%;
	background-color: #125E8A !important;
	padding: 120px 0;
	overflow: hidden;
}

.color-banner h2 {
	color: #fff;
	max-width: 80%;
	margin-bottom: 36px;
}

.color-banner p {
	color: #fff;
	max-width: 80%;
}

.color-banner-cta {
	width: 100%;
	background-color: #5093C4;
	padding: 36px 0;
	overflow: hidden;
}
.color-banner-cta p{
  margin-bottom: 0 !important;
}
.color-banner-cta i {
	margin-left: 12px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.color-banner-cta a:hover i {
	margin-left: 20px;
}
a:hover h6 i , a:hover  i{
	margin-left: 12px;
}
a h6 i, a i  {
	margin-left: 12px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.img-hover-zoom p i:first-child {
    margin-left: 0 !important ;
		font-size: 28px !important;
		margin-bottom: 48px !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.color-banner-cta a p{
	font-weight: 700;
	color: #fff;
	font-size: 18px;
}
.color-banner-cta:hover i {
	color: #fff;
}


/* ------ Square Block Info Sections------*/

.info-sections {
	margin: 120px 0 80px 0;
}


.info-sections h4 {
	margin-bottom: 12px;
	color: #1d1d1d;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	padding-left: 8px;
}

.info-sections .info-block-wide p {
	max-width: 80%;
}
.info-sections .info-block-wide h4 {
color: #1d1d1d !important;
}

.info-sections .info-block p {
	max-width: 90%;
}

.info-block-wide img, .info-block img {



}


.info-sections .info-block-wide i,
.info-sections .info-block i {
	/* display: none; */
}
.info-sections .info-block-wide span,
.info-sections .info-block span{
color: #2478B5;
}

.info-sections .info-block-wide:hover i,
.info-sections .info-block:hover i {
	display: inline;
	color: #2478B5;
	margin-left: 12px;
	font-size: 22px;
}

.info-sections .info-block-wide:hover h4,
.info-sections .info-block:hover h4 {
	color: #2478B5;
}

.info-sections .info-block-wide:hover img,
.info-sections .info-block:hover img {
	opacity: 1;
}


/* ------ Blog Banner ------ */

.home .blog-banner {
	background-color: #fff;
}


.blog-banner {
	width: 100%;
	background-color: #f5f5f5;
	padding: 100px 0;
	overflow: hidden;
	z-index: 2;
    position: relative;
}

.blog-banner p {
	max-width: 620px;
	color: #1d1d1d;
	text-transform: none;
	margin-bottom: 28px;
}

.blog-banner i {
	font-size: 32px;
	color: #1d1d1d;
}

.blog-banner a h6:first-child {
	padding-right: 80px;
}

.blog-banner a h6 {
	font-size: 16px;
	display: inline-block;
}

.blog-banner a h6:hover,
.blog-banner a h6:hover i {
	color: #2478B5;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.blog-banner h4 {
	text-transform: none;
	color: #1d1d1d;
	margin-bottom: 28px;
}

.blog-banner hr {
	margin-top: 8px;
}

.blog-banner h6 {
	color: #1d1d1d;
	font-size: 14px;
	font-weight: 700;
	margin-top: 24px;
}

.blog-banner h6 i {
	font-size: 14px;
	color: #1d1d1d;
	margin-left: 8px;
}


/* ------ Method ------ */

.method-hero h6 {
	color: #1d1d1d;
font-size: 16px;
font-weight: 700;
margin-top: 12px;
text-transform: none;
padding-left: 15px;
}
.method-hero .hero-box img {
	position: absolute;
	    width: 1000px;
	    left: -260px;
			margin-top: 15px;
}
.header li.mailto.ideal-x-header-i:hover  i {
color: #2A73B8 !important;
}
.header.transparent li.mailto:hover  i {
color: #fff !important;
opacity: .6;
}

.method-hero h1 {
	text-transform: none !important;
	text-align: left;
	color: #1d1d1d;
	margin: 0 auto;
	max-width: 860px;
	font-style: normal !important;
	font-weight: 800 !important;
	font-size: 56px !important;
	line-height: 123.5% !important;
	letter-spacing: 0.04em !important;
}

.method .hero p,
.method .hero a,
.method .hero i {
	color: #1d1d1d !important;
	max-width: 760px;
}

.method-hero {
	height: 100%;
	width: 100%;
	background-image: url(../img/.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: #fff;
	object-fit: cover;
padding: 208px 0 130px 0;
	overflow: hidden;
	position: relative;
}
.method-hero .hero-box p {
    padding-right: 32px;
    /* border-left: 1px solid #C4C4C470; */
    padding-left: 30px;
}
.method .hero a:hover i, .method .hero a:hover, .method .three-col a:hover i, .method .three-col a:hover {
    color: #2A73B8 !important;
}
.method-hero-alt {
	height: 100%;
	width: 100%;
	background-image: linear-gradient(to bottom, rgba(29, 29, 29, 0.3), rgba(29, 29, 29, 0.3)), url(../img/method.jpg);
	background-size: cover;
	background-color: #1d1d1d;
	padding: 40px 0 200px 30px;
	overflow: hidden;
	background-attachment: fixed;
}

.intro-left-alt.method {
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 90%;
	background-color: #fff;
	object-fit: cover;
	padding: 80px 80px 80px 0;
	overflow: hidden;
}

.hero .method-hero-alt p,
.hero .method-hero-alt i {
	color: #fff !important;
}

.three-col p i {
	font-size: 14px;
}

.method .three-col h4 {
	color: #2A73B8;
}

.three-col a {
	font-size: 16px;
	font-weight: 800;
	color: #1d1d1d;
	letter-spacing: .02em;
}

.method .bottom-banner {
	width: 100%;
	background-color: #0E7925;
	padding: 140px 0;
	overflow: hidden;
}

.three-col i {
	color: #1d1d1d;
}

.half-color-bg {
	background-image: linear-gradient( to right, #f5f5f5 80%, #2478B5 20%);
}

.half-color-bg p {
	color: #fff;
}

.method-bottom-bg {
	height: 420px;
	width: 100%;
	background-image: linear-gradient(to bottom, rgba(29, 29, 29, 0.4), rgba(29, 29, 29, 0.3)), url(../img/6.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 10%;
	background-color: #fff;
	object-fit: cover;
	background-attachment: fixed;
	padding: 15% 0 0 0;
	overflow: hidden;
}


/* ------ Subpages ------ */

.subpage-section {
	width: 100%;
	background-color: #fff;
	padding: 240px 0 120px 0;
	overflow: hidden;
}

.subpage-section h2 {
	margin-bottom: 48px;
}

.subpage-section h6 i {
	font-size: 28px;

	position: fixed;
    z-index: 1;
}
.info-sections h6 i {
	font-size: 32px;



}

.subpage-section h6:hover i {
	color: #2478B5;
}
.ideal-x-sub .subpage-section h6:hover i {
color: #2A73B8;
}

.subpage-section a {
	font-weight: 500;
}

.subpage-section p,
.subpage-section img.subpage-image {
	/* text-align: justify; */
	padding-right: 5%;

}

.subpage-section img.subpage-image {
	/* text-align: justify; */
	/* max-height: 270px; */
}

.subpage-section img.subpage-image-wide {
	width: 100% !important;
	max-height: 270px;
}

.subpage-section .row {
	margin-bottom: 48px;
}
.process h4 {
	font-size: 18px;
}
.process span {
	font-size: 20px;
	margin-right: 4px;
	font-weight: 900;
}
.three-columns-icons-stacked {
    max-width: 417px;
}
.ideal-x-sub span, .ideal-x-sub a {
color: #2A73B8;
}
.subpage-section .row:last-child{
    margin-bottom: 0;
}

.text-block h4 {
	font-size: 32px;
	padding-bottom: 12px;
}
.text-block h5 {

	padding-bottom: 12px;
}
.three-columns-icons-stacked i {
	color: #1d1d1d;
}

/* ------ Footer ------ */

footer {
	padding-top: 100px;
	padding-bottom: 100px;
	bottom: 0;
	position: relative;
z-index: 2;
}

.footer ul {
	padding-left: 0;
	margin-left: 0;
	text-align: left;
}

.footer img {
	max-width: 268px;
	margin-left: -15px;
}

.footer li {
	color: #fff;
}

.footer ul li a {
	color: #fff;
	font-size: 16px;
	line-height: 190%;
	font-weight: 400;
	letter-spacing: .03em;
}

.footer h5 {
	display: flex;
	align-items: center;
	text-transform: uppercase;
	font-weight: 800;
	color: #fff;
	font-size: 16px;
	letter-spacing: .15em;
}

.footer h5 span {
	content: "";
	flex: 1 1 auto;
	border-top: 1px solid #fff;
	margin-left: 16px;
}

.footer .social-icons {
	margin-top: 36px;
}

.footer a:hover {
	cursor: pointer;
	opacity: .5;
	color: #fff !important;
}

.footer li:hover {
	color: #00a7e1;
}

.footer li {
	padding: 8px 0;
}

.copyright p {
	font-size: 15px;
	margin-top: 74px;
	color: #fff;
	opacity: .6;
	font-weight: 100;
	text-align: left;
	letter-spacing: .067em;
	width: 100%;
	display: block;
	font-style: normal;
	font-size: 12px !important;
	line-height: 24px;
	letter-spacing: 0.05em;
	color: rgba(255, 255, 255, 0.98);
}

.social i {
	color: #fff;
	font-size: 24px;
}
.social i:hover {
    color: #fff !important;
    font-size: 24px;
    opacity: 80% !important;

}

.footer {
	background-color: #1d1d1d;
}

.logo-hide-alt {
	display: none;
}

.social {
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 8px;
}


/* ------ Contact ------ */

.md-form label {
	color: #fff;
}

.md-form,
.modal-dialog.cascading-modal .modal-header .social-buttons {
	margin-top: 2.5rem;
}

.form-button.btn-primary {
	padding: 12px 32px;
	border: 2px solid #fff;
	background: transparent !important;
}

.form-button {
	margin-top: 48px;
	margin-left: 30px;
}

.md-form input[type=text]:focus:not([readonly])+label, .md-form input[type=text], .md-form textarea.md-textarea:focus:not([readonly])+label, .md-form textarea~label.active, .md-form textarea.md-textarea  {
	color: #fff !important;
}

.md-form input[type=text]:focus:not([readonly]), .md-form textarea.md-textarea:focus:not([readonly]) {
	border-color: #fff !important;
	box-shadow: 0 0 !important;
}



/* ------ Return To Top ------- */

#return-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background: rgba(255, 255, 255, .9);
	width: 50px;
	height: 50px;
	text-decoration: none;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 1px;
	display: none;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	z-index: 9;
}

#return-to-top i {
	color: #000;
	margin: 0;
	position: relative;
	left: 16px;
	top: 14px;
	font-size: 21px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

#return-to-top:hover {
	/* background: rgba(77, 77, 77, .96); */
	background: rgba(0, 0, 0, .96);
}

#return-to-top:hover i {
	color: #fff;
	top: 8px;
}


/* ------ Media Quieries ------ */


/* Extra large devices (large desktops, 1200px and up) */

@media (max-width: 1200px) {
	.method-hero .hero-box img {
    position: absolute;
    width: 1000px;
    left: -590px;
    bottom: -440px;
}
	.method-hero {

      padding: 200px 0 140px 0;

}
	.intro-right-alt.connect {
		padding: 100px 20px 120px 20px;
	}
	.intro-right-alt.method {
		padding: 80px 40px 0px 60px;
	}
	.intro-right-alt.connect {
		padding: 80px 30px 80px 30px;
	}
	.insights .three-col {
		padding: 30px;
	}
	.insights .row {
		padding-left: 0;
		padding-right: 0;
	}
	.intro {
		padding: 200px 0 140px 0;
	}
	.intro br {
		display: none;
	}
	.method .hero-right-text p {
		padding-left: 0;
	}
	h1 {
		font-size: 48px !important;
	}
	.homepage-hero h1 {
		font-size: 56px !important;
		margin-left: 20%;
	}
	.hero i {}
	.hero a i {
		padding-left: 0;
	}
	.homepage-hero {
		padding: 160px 0 14% 0;
	}
	.hero-right-text p {
		border-left: 0;
		padding-left: 30px;
	}
	.hero-secondary {
		padding-left: 15px;
	}
}


/* Large devices (desktops, 992px and up) */

@media (max-width: 992px) {
	.method-hero .hero-box img {
display: none;
}
	.subpage-section {

    padding: 180px 0 120px 0;

}
.img-hover-zoom .hr  {
    font-size: 28px !important;
    margin-left: -12px !important;

}
.footer img {

    margin-left: -23px;
}
.method-hero-alt {
     background-attachment: inherit !important;
}
	.hero h3 {
		text-transform: none;
		text-align: left;
		letter-spacing: 0.02em;
		color: #FFFFFF;
		text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.30);
		margin-top: 90px;
		max-width: 833px;
		font-family: Nunito Sans;
		font-style: normal;
		font-weight: 800;
		font-size: 28px;
		line-height: 123.5%;
		letter-spacing: 0.04em;
		color: #FFFFFF;
	}
	.homepage-hero h1 {
		font-size: 56px !important;
		margin-left: 30px;
	}

	.logo-hide-alt {
		display: block;
		max-width: 140px;
		margin-left: 10px;
	}
	.homepage-hero {
		padding: 180px 0 20% 0;
	}
	.r66-white-bg {
		background: #fff;
		padding: 48px 30px;
		margin-top: -100px;
		margin-bottom: 30px;
	}

	.pb-100 {
		padding-bottom: 60px;
	}
	img.logo-hide-alt {
		max-width: 100px;
	}
	.logo-hide {
		display: none;
	}
	.intro-right-alt {
	padding: 50px 40px 40px 40px;
	}
	/* .intro-left-alt {
		padding: 30px 80px 30px 0;
	} */
	.intro-left-alt {
    padding: 30px 30px 30px 0;
}
	.r66-white-bg-alt {
		padding: 40px 30px;
	}
	.footer .col-xs-6 {
		width: 50%;
	}
	.footer ul {
		margin-bottom: 60px;
	}
	footer {
		padding-bottom: 20px;
	}
	.footer .copyright {
		margin-top: 40px;
		padding-bottom: 40px;
	}
	.insights-bg {
		position: relative;
		top: 0;
	}
	.homepage-hero h1 {
		margin-right: 0;
	}
	.half-color-bg .row {
		padding-left: 0 !important;
		padding-right: 0 !important;
		margin-left: 0;
		margin-right: 0;
	}
	.row {
		padding-right: 0 !important,
	}
	.form-button {
		margin-left: 15px;
	}
	.intro-right-alt.connect {
		padding: 30px 30px 80px 30px;
	}
	.half-color-bg .container-fluid {
		max-height: 100%;
	}
	.intro-left-alt.method {
		padding: 80px 30px 80px 0 !important;
	}
	.method-hero {
		background-position: 70% 90%;
	}
	.method-hero p {
		margin-top: 0 !important;
		padding-right: 30px;
	}
	.method-hero h1 {
		text-transform: none !important;
		text-align: left;
		color: #1d1d1d;
		margin-left: 8px;
		max-width: 860px;
		font-style: normal !important;
		font-weight: 800 !important;
		font-size: 48px !important;
		line-height: 123.5% !important;
		letter-spacing: 0.04em !important;
		margin-top: 40px;
	}
	.copyright p {
    margin-top: 40px;
    max-width: 420px;
}
.info-block-wide:hover img{
		height: 360px;
}
.info-block-wide img{
		height: 360px;
}
.info-block img{
			height: 300px;
}
.info-block-wide img, .info-block img{
			height: 300px;
}
.img-hover-zoom img {
	height: 300px;
}
.img-hover-zoom:hover img {
    transform: scale(1);
    transition: transform .8s ease;
    margin-top: 0;
}
.img-hover-zoom  {
	height: 300px;
	    object-fit: cover;

}
}


/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */

@media (max-width: 768px) {
	.color-banner h2 br {
		display: none;
	}
	.method-hero-alt i,.hero-secondary i {

    font-size: 36px;

}
	.steps-img img {
		width: 80%;
		margin-bottom: 80px;
	}

	img.subpage-image {
		margin-top: 80px;
	}
	.info-sections h4 {

		color: #3d3d3d;

	}
	.intro-right-alt, .intro-right-alt.method {
    border-radius: 0;

}
	.intro-right-alt.connect {

    border-radius: 0;
}
	.info-block-wide:hover img, .info-block:hover img{
		height: 300px;
	}
	.info-block-wide img, .info-block img{
					height: 300px;
					opacity: .16 !important;
	}
	.img-hover-zoom img {
	height: 300px;
	}
	.img-hover-zoom:hover img {
			transform: scale(1);
			transition: transform .8s ease;
			margin-top: 0;
	}
	.img-hover-zoom  {
	height: 300px;
				object-fit: cover;

	}
	.img-hover-zoom p {
bottom: 20px;
	left: 30px;
	padding-right: 30px;

	}
.gr66-insights .intro-right-alt p {
    margin-bottom: 0;

}
.img-hover-zoom a, .img-hover-zoom i {
display: inline;
}
.ideal.intro-right-alt p {
    margin-bottom: 20px;

}
.method-bottom-bg {

    display: none;
}
	.subpage-section {
		padding: 140px 0 120px 0;
}
.subpage-section h6 i {

    display: none;
}
	.homepage-hero h1 {
		font-size: 48px !important;
		padding-right: 30px;
		margin-left: 30px;
		margin-top: 60px;
	}
	.method-hero h1 {
		font-size: 48px !important;
		padding-right: 30px;
		margin-left: 015px;
		margin-top: 48px;
	}
	.homepage-hero h1 {
		max-width: 100%;
	}

	.method .hero-right-text p {
		padding-left: 30px;
	}
	.method-hero {
		    padding: 160px 0 80px 0;
	}
	.hide {
		display: none;
	}
	h2 {
		font-size: 28px;
		/* font-size: 3em; */
		line-height: 130%;
		letter-spacing: 0.02em;
		/* font-family: 'Roboto', sans-serif; */
		font-weight: 800;
	}
	.homepage-hero {
		height: 100% !important;
	}
	.method-hero-alt {
		padding: 0 0 160px 0 !important;
	}
	.insights-bg {
		position: relative;
		height: 200px !important;
		top: 0;
	}
	.hero {
		height: 100%;
	}
	.hero p {
		padding-right: 30px;
		border-left: 0 solid #C4C4C470;
		padding-left: 30px;
	}
	.r66-white-bg {
		padding: 40px 30px;
		margin-top: -100px;
		margin-bottom: 30px;
		text-align: left;
	}
	p.hero-text {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.bottom-banner {
		padding: 100px 0;
		height: 600px;
	}
	.insights-bg {
		position: relative;
		height: 200px !important;
	}
	.intro-right-alt p {
		margin-bottom: 0;
		color: #fff;
		max-width: 100%;
	}
	.intro-right p {
		padding-right: 30px;
		left: 30px;
	}
	.container-fluid {
		padding-right: 0 !important;
		padding-left: 0 !important;
	}
	.intro {
		padding: 160px 0 80px 0;
	}
	.intro br {
		display: none;
	}
	.intro h6 {
		margin-top: 0;
		margin-bottom: 48px;
	}
	.intro-right-alt,
	.intro-right-alt.method {
		padding: 60px 30px 80px 30px;
		overflow: hidden;
		position: relative;
	}
	.intro-right {

		overflow: hidden;
		position: relative;
	}
	.info-sections {
		margin: 60px 0 20px 0;
	}
	.color-banner h2 {
		margin-bottom: 32px;
	}
	.color-banner p {
		max-width: 100%;
	}
	.color-banner {
		padding: 60px 0 60px 0;
	}
	.intro-right-alt i,
	.intro-right i {
	margin-top: 24px;
	}
	.r66-white-bg-alt {
		background: #fff;
		padding: 30px;
		margin-top: -60px;
	}
	.r66-white-bg-alt h2, .r66-white-bg h2 {
text-align: left;
font-size: 28px;
	}
.r66-white-bg p {
text-align: left;
font-size: 16px;
	}
	.three-col,
	.insights .three-col {
		padding: 30px;
	}
	.pb-100 {
		padding-bottom: 40px;
	}
	.bottom-banner i,
	.blog-banner i {
		margin-bottom: 48px;
	}
	.bottom-banner {
		padding: 80px 0 100px 0 !important;
	}
	.homepage-hero {
		padding: 100px 0 160px 0;
	}
	.hero-secondary {
		padding-left: 0;
	}
	.hero {
		padding: 0;
	}
	.blog-banner {
		padding: 60px 0 40px 0;
	}
	.intro-left-alt,
	.intro-left-alt.method {
		padding: 60px 30px 60px 15px !important;
	}
	.bottom-banner {
		height: 100%;
	}
	.info-block-wide img,
	.info-block img {
		/* margin: 20px 0 40px 0; */
		width: 100%;


	}
	img.logo-hide-alt {
		max-width: 120px;
	}
	.intro-left {
		padding: 48px 30px 48px 30px;
	}
	.intro-left h2 {
		margin-left: 0;
	}
	.intro-left {
		min-height: 250px;
    max-height: 250px;
	}
	.intro-left i {
		font-size: 300px;
	}
	.intro-left h2 span {
		content: "";
		flex: 1 1 auto;
		border-top: 2px solid #ddd;
		margin-left: 30px;
		margin-top: 31px;
	}
	.color-banner h2 {
		max-width: 100%;
	}
	.color-banner-cta p {
		margin-bottom: 0 !important
	}
	.footer img {
		margin-left: -8px;
		/* margin-top: 80px; */
	}
	.three-col i {
		font-size: 48px;
		margin-bottom: 48px;
		margin-top: 20px;
	}
	.method-hero {
		background-image: #fff !important;
		background: #fff !important
	}
	.intro-right h2 {
	font-size: 48px;
	left: 30px;
	}
	.intro-right video {

    height: 360px;
}
.insights-bg {

    background-attachment: inherit;
}


}


/* Small devices (landscape phones, 576px and up) */

@media (max-width: 576px) {
	.info-block-wide:hover img, .info-block:hover img{
		height: auto;
			opacity: .16 !important;
	}
	.info-block-wide img{
					height: 360px;
				   opacity: .16 !important;
					     min-height: 360px;

	}
 .info-block img{
					height: 340px;
				opacity: .16 !important;
	}
	.img-hover-zoom img {
height: auto;

	}
	.img-hover-zoom:hover img {
	    transform: scale(1);
	    transition: transform .8s ease;
	    margin-top: 0;
				opacity: .16 !important;
	}
	.img-hover-zoom  {

height: auto;
		    object-fit: cover;
				position: relative;


	}
	.img-hover-zoom p {

  left: 30px;
	padding-right: 30px;
	bottom: 30px;
	margin-top: 0px;
	}
	.img-hover-zoom:hover p {

  left: 30px;
	padding-right: 30px;
	bottom: 30px;
	margin-top: 0px;
	}

	p {
		font-size: 16px !important;
	}
	.intro-right-alt p {
		font-size: 18px !important;
	}
	.homepage-hero h1 {
		font-size: 40px !important;
	}
	.method-bottom-bg {
		position: relative;
		height: 100% !important;
	}
	.insights-bg.alt {
		position: relative;
		height: 200px !important;
		margin-top: 0;
	}

	.info-sections .info-block-wide p {
    max-width: 100%;
		height: auto;

		    padding-right: 40px;
				bottom: 0px;

}
.info-sections .info-block-wide p {
	bottom: 30px;
}
	.footer ul {
		float: right;
		padding-right: 30px;
	}
	.r66-white-bg-alt {
		background: #fff;
		padding: 30px;
		margin-top: -60px;
	}
	.method-hero h1 {

		font-size: 34px !important;
	}
	.intro-right-alt.connect {
		padding: 30px 15px 80px 15px;
	}
}
@media (max-width: 424px) {
	.intro h2 {

    padding-right: 0;
}
	.info-block-wide:hover img, .info-block:hover img{
				height: auto;
	}
	.info-block-wide:hover img {
				height: 400px;
	}
	.info-block-wide img{
				height: 400px;


	}.info-block img{
					height: auto;


	}
	.img-hover-zoom img {

	}
	.img-hover-zoom:hover img {
	    transform: scale(1);
	    transition: transform .8s ease;
	    margin-top: 0;
	}
	.img-hover-zoom  {
				height: auto;
		    object-fit: cover;

	}
	.img-hover-zoom p {

  left: 30px;
	padding-right: 30px;


	}
}
